%button {
  cursor: pointer;
  font-family: inherit;
  border: 0px;
  padding: 0;
}

.modal-close-button {
  @extend %button;
  @include centered-flex();
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  fill: #000000;
  background-color: transparent;
  transition-property: fill, transform;
  transition-duration: 250ms;
  //   transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    // fill: $accent-color;
    transform: rotate(180deg);
  }

  &__icon {
    fill: inherit;
  }
}

.filmoteca-btn {
  @extend %button;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  text-transform: uppercase;
  padding: 14px 20px;
  border-radius: $border-radius;
  transition-property: fill;
  transition-duration: 250ms;
  color: $white;
  background-color: $accent-color;
  //   transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
  }

  &:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
  }

  &--primary {
    color: $white;
    background-color: $accent-color;
  }

  &--secondary {
    color: $first-font-color;
    background-color: transparent;
    border: 1px solid $first-font-color;
  }

  &--auth {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 5px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $accent-color;
    @media screen and (min-width: 768px) {
      justify-content: space-between;
      width: 110px;
    }
    @media screen and (min-width: 1280px) {
      padding: 10px 15px;
      width: 120px;
    }
    &-icon {
      fill: $white;
      @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__text {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      width: 60px;
    }
  }
}

.scroll-up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  background-color: $second-font-color;
  border-radius: $border-radius;
  opacity: 0.3;
  color: black;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  box-shadow: 1px 49px 41px -25px rgba(0, 0, 0, 0.51);
  z-index: 9;

  &--hidden {
    transform: translateY(+200%);
  }

  &:hover,
  &:focus {
    opacity: 1;
    background-color: $accent-color;
    scale: 1.1;
  }

  &__icon {
    fill: $white;
    rotate: 270deg;
  }
}
