.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  scale: 1;
  transition-property: opacity, transform, visibility;
  transition-duration: 250ms;
  // transition-timing-function: $timing-function;

  &--hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: scale(1.5);
  }
}
