@import './utils/mixins';

footer {
  background-color: #f7f7f7;
  padding-top: 29px;
  padding-bottom: 29px;

  @include tab {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.container__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include tab {
    flex-direction: row;
  }
}

.footer__text {
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
  text-align: center;

  & a {
    text-decoration: underline;
  }

  @include tab {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__box {
  display: flex;
  align-items: center;
  margin-top: 10px;

  @include tab {
    margin-top: 0;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.25);
  }

  40% {
    transform: scale(1.5);
  }
}

.footer__favorite {
  height: auto;
  width: 14px;
  margin-left: 10px;
  margin-right: 10px;
  animation: heartbeat 1.5s infinite;
}

.modal-link:hover,
.modal-link:focus{
  color: $accent-color;
}
