.header {
  height: 230px;
  // background: linear-gradient(#0082d1 50%, #ffd100 50%);
  @media screen and (min-width: 768px) {
    height: 216px;
  }
}
.header__background {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile/abstract-background-with-red-lines\ 1.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile/mob_header-main@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet/tab_header-main.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/tablet/tab_header-main@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desctop/desk_header-main.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/desctop/desk_header-main@2x.jpg);
    }
  }
}
.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 40px;
  // padding-left: 20px;
  // padding-right: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    // padding-left: 30px;
    // padding-right: 30px;
    padding-bottom: 40px;
    justify-content: normal;
  }
}
.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  @media screen and (min-width: 768px) {
    max-width: 520px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 970px;
  }
}

.navigation__logo {
  display: flex;
  align-items: baseline;
  text-decoration: none;

  display: flex;
  align-items: center;
  text-align: center;

  & span {
    @media screen and (min-width: 768px) {
      display: inline;
      margin-left: 10px;
      margin-right: 50px;

      font-family: $font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.17;
    }
  }
}
#hiddenOnMobile {
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.navigation__list {
  display: flex;
  // @media screen and (min-width: 768px) {
  //   margin-right: 150px;
  // }
}

.navigation__item {
  &:last-child {
    margin-left: 40px;
  }
}

.navigation__link {
  font-weight: 500;
  line-height: 14px;
  padding: 5px;
  position: relative;
  display: block;
  opacity: 95%;
  transition-property: scale;
  transition-duration: 300ms;
  &:hover,
  &:focus {
    scale: 1.25;
    opacity: 1;
  }

  &--current {
    opacity: 100%;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: #ff001b;
    }
  }
}

.searchForm {
  position: relative;
  // margin-bottom: 20px;
  border-bottom: 0.5px solid white;
  @media screen and (min-width: 768px) {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }

  & input {
    width: 100%;
    height: 20px;

    padding-right: 30px;
    font-size: 14px;
    line-height: 1.14;
    color: $white;
    background-color: transparent;
    border: 0;

    &::placeholder {
      font-size: 14px;
      line-height: 1.14;
      color: $white;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }

  &__button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(25%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12.5px;
    background-color: transparent;
    border: 0;
    transition-property: scale;
    transition-duration: 300ms;

    cursor: pointer;

    &:hover,
    &:focus {
      scale: 1.1;
      color: white;
    }

    &:disabled {
      opacity: 30%;
    }
  }

  &__icon {
    fill: inherit;
    width: 15px;
    height: 15px;
  }
}

.searchForm__message {
  position: relative;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05px;
  text-align: left;
  color: #ff001b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    text-align: center;
    margin-top: 20px;
  }
}
