@media screen and (max-width: 320px) {
  .tui-custom.tui-next-is-ellip {
    display: none;
  }
}

.tui-custom.tui-first,
.tui-custom.tui-last {
  display: none;
}

.tui-pagination {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:16px;
}

.tui-custom {
  font-size: $font-size;
  text-decoration: none;
  display: flex;
  font-weight: 500;
  line-height: 1.25;
  color: $first-font-color;
  background-color: $white;
  border: none;
  outline: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.tui-custom-is-selected {
  background-color: $accent-color;
  color: $white;
  width: 40px;
  height: 40px;
}

#pagination .tui-prev,
#pagination .tui-next {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f7f7f7;
}

#pagination .tui-ico-next,
#pagination .tui-ico-prev {
  color: $first-font-color;
}

.tui-pagination .tui-ico-ellip {
  vertical-align: center;
  margin: 0;
}

.tui-custom.tui-next-is-ellip {
  border: none;
  outline: none;
}

.tui-custom.tui-prev-is-ellip {
  border: none;
  outline: none;
}

.tui-custom.tui-next {
  border: none;
  outline: none;
}

.tui-custom.tui-prev {
  border: none;
  outline: none;
}

.tui-pagination .tui-first-child {
  border:none;
}

.tui-pagination .tui-last-child {
  border: none;
}

.tui-pagination--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}