@import 'backdrop';

.signInModal {
  position: absolute;
  font-weight: 500;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 40px;
  width: 300px;
  z-index: 888;
  background-color: $background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.signInModal__list {
  display: inline-flex;
  flex-direction: column;
}

.signInModal__item {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 300ms;
}

.signInModal__field {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.signInModal__form {
  display: flex;
  flex-direction: column;
}
