.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 20px;
    top: 20px;
    flex-direction: column;
    align-items: flex-end;
  }
}

.user__box {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;
  }
}

.user__img {
  width: 45px;
  // height: 40/px;
  border-radius: 50%;
  background-color: aliceblue;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.user__info {
  width: 100px;
  text-align: left;

  @media screen and (min-width: 768px) {
    margin-right: 0;
    // margin-bottom: 15px;
    text-align: right;
  }
}

.user__name {
  font-size: 16px;
  font-weight: 500;
  // margin-bottom: 15px;
}
