$font-size: 12px;
$line-height: 1.33;
$font-family: 'Roboto', sans-serif;
$background-color: white;
$first-font-color: #000000;
$second-font-color: #8c8c8c;
$accent-color: #ff6b01;
$white: #ffffff;
$page-width: 650px;
$gap: 32px;
$border-radius: 5px;
