@import './backdrop';

.movieModal {
  position: absolute;
  display: flex;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  min-height: 904px;
  padding: 48px 20px;
  z-index: 888;
  background-color: $background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 704px;
    min-height: 552px;
    padding: 40px 36px;
  }

  @media screen and (min-width: 1280px) {
    gap: calc($gap / 2);
    width: 806px;
    min-height: 558px;
    padding: 40px 12px;
  }
}

.movieModal__info {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: space-around;
    gap: 68px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.movieModal__wraper {
  display: flex;
  flex-direction: column;
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.movieModal__image {
  width: 240px;
  max-height: 357px;

  @media screen and (min-width: 768px) {
    width: 264px;
    max-height: 374px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    max-height: 478px;
  }
}

.movieModal__table {
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  border-collapse: collapse;
  line-height: 1.33;

  & tbody {
    text-align: left;
  }
}

.padding-bottom-td {
  padding-bottom: 8px;
}

.no-padding-td {
  padding-bottom: 0px;
}

.movieModal__parameter {
  color: $second-font-color;
  width: 152px;
}

.movieModal__caption {
  font-size: 20px;
  line-height: 1.17;
  text-align: left;
  margin-bottom: 20px;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}

.movieModal__vote,
.movieModal__votes {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
  border-radius: $border-radius;
}

.movieModal__vote {
  color: $white;
  background-color: $accent-color;
}

.movieModal__votes {
  background-color: #f7f7f7;
}

.movieModal__description {
  text-align: left;
  margin-bottom: 20px;
}

.movieModal__about {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.movieModal__text {
  line-height: 1.66;
}

.movieModal__btns {
  display: flex;
  gap: calc($gap / 2);
}
