<footer>
    <div class="container container__footer">
        <p class="footer__text">&#169 2023 | All Rights Reserved |&#160</p>
        
        <div class="footer__box">
            <p class="footer__text">Developed with</p>
            
            <svg class="footer__favorite" width="14px" height="14px">
                <use href="./images/svg/footer-social.svg#icon-heart"></use>
            </svg>

            <p class="footer__text">by <a class="modal-link" href="" data-team-modal-open>GoIT Students</a></p>
        </div>
    </div>
</footer>
