<header class="header" id="top">
  <div class="container container__header">
    <nav class="navigation">
      <a class="navigation__logo" href="./index.html">
        <svg width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-film"><span id="hiddenOnMobile">Filmoteka</span></use>
        </svg>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link navigation__link--current" href="">HOME</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="./my-library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

    <form class="searchForm" id="search-form">
      <input type="text" name="searchQuery" autocomplete="off" placeholder="Movie search" />
      <button type="submit" disabled="true" class="searchForm__button">
        <svg class="searchForm__icon">
          <use href="./images/svg/symbol-defs.svg#icon-search-2"></use>
        </svg>
        <!-- <img class="searchForm__icon" src="./images/svg/search 2.svg" alt="Filmoteka logo" /> -->
      </button>
    </form>
    <!-- <p class="searchForm__message">
      Search result not successful. Enter the correct movie name and
    </p> -->
  </div>
</header>