<header class="header" id="top">
  <div class="container container__header">
    <div class="header__background"></div>
    <nav class="navigation">
      <a class="navigation__logo" href=""
        ><img src="./images/svg/film.svg" alt="Filmoteka logo" /><span
          id="hiddenOnMobile"
          >Filmoteka</span
        ></a
      >
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link navigation__link--current" href="">HOME</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

    <form class="searchForm" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button type="submit" disabled="true" class="searchForm__button">
        <img
          class="searchForm__icon"
          src="./images/svg/search 2.svg"
          alt="Filmoteka logo"
        />
      </button>
    </form>
    <p class="searchForm__message">
      Search result not successful. Enter the correct movie name and
    </p>
  </div>
</header>
