<header class="header" id="top">
  <div class="header__background">
    <div class="container header__container ">
      <nav class="navigation">
        <a class="navigation__logo" href="./index.html">
          <svg width="24" height="24">
            <use href="./images/svg/symbol-defs.svg#icon-film">
              <span id="hiddenOnMobile">Filmoteka</span>
            </use>
          </svg>
        </a>
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link navigation__link--current" href="./index.html">HOME</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="./my-library.html">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
      <form class="searchForm" id="search-form">
        <input type="text" name="searchQuery" autocomplete="off" placeholder="Movie search" />
        <button type="submit" disabled="true" class="searchForm__button">
          <svg class="searchForm__icon">
            <use href="./images/svg/symbol-defs.svg#icon-search-2"></use>
          </svg>
        </button>
      </form>
      <div class="user">
        <div class="user__box"></div>

        <button class="filmoteca-btn filmoteca-btn--auth" type="submit" id="signInModalOpen" data-signInModal-open>
          <svg class="filmoteca-btn--auth-icon" width="20" height="20">
            <use href="./images/svg/symbol-defs.svg#enter"></use>
          </svg>
          <span class="filmoteca-btn__text">Log in / Sign Up</span>
        </button>

        <button class="filmoteca-btn filmoteca-btn--auth visually-hidden" type="submit" id="logoutBtn">
          <svg class="filmoteca-btn--auth-icon" width="20" height="20">
            <use href="./images/svg/symbol-defs.svg#exit"></use>
          </svg>
          <span class="filmoteca-btn__text">Log Out</span>
        </button>
      </div>
    </div>
</header>