<header class="header" id="top">
  <div class="container">
    <div class="header-wrap">
      <a class="main-logo" href="/src/index.html">
        <svg class="main-logo_icon" width="24px" height="24px">
          <use href="/src/images/svg/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="main-logo_text">Filmoteka</span>
      </a>
      <nav class="header-nav">
        <ul class="header-nav_list">
          <li><a class="header-nav_home" href="/src/index.html">Home</a></li>
          <li>
            <a class="header-nav_libr link-current" href="/src/my-library.html">my library</a>
          </li>
        </ul>
        <button class="auth_btn header-nav_log">log in</button>
        <button class="logOutBtn header-nav_log visually-hidden" id="logOutBtn">
          log out
        </button>
      </nav>
    </div>
    <ul class="header_btn-wrap">
      <li class="header_btn-watched current-btn"><a href="">Watched</a></li>
      <li class="header_btn-queue simple-btn"><a href="">queue</a></li>
    </ul>
  </div>
</header>