<div class="backdrop backdrop--hidden" data-modal>
  <div class="movieModal">
    <button class="button modal-close-button" type="button" data-modal-close>
      <img
        class="modal-close-button__cross"
        src="./images/svg/close.svg"
        alt="movieImg"
      />
    </button>
    <img class="movieModal__image" src="./images/movie.jpg" alt="movieImg" />
    <div class="movieModal__info">
      <table class="movieModal__table">
        <caption class="movieModal__caption">
          A FISTFUL OF LEAD
        </caption>
        <tbody>
          <tr>
            <td class="movieModal__parameter padding-bottom-td">
              Vote / Votes
            </td>
            <td class="movieModal__value padding-bottom-td">
              <span class="movieModal__vote">7.3</span> /
              <span class="movieModal__votes">1260</span>
            </td>
          </tr>
          <tr>
            <td class="movieModal__parameter padding-bottom-td">
              Popularity chocolate
            </td>
            <td class="movieModal__value padding-bottom-td">100.2</td>
          </tr>
          <tr>
            <td class="movieModal__parameter padding-bottom-td">
              Original Title
            </td>
            <td class="movieModal__value padding-bottom-td">
              A FISTFUL OF LEAD
            </td>
          </tr>
          <tr>
            <td class="movieModal__parameter no-padding-td">Genre</td>
            <td class="movieModal__value no-padding-td">Western</td>
          </tr>
        </tbody>
      </table>
      <div class="movieModal__description">
        <p class="movieModal__about">about</p>
        <p class="movieModal__text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
      </div>
      <div class="movieModal__btns">
        <button
          class="filmoteca-btn filmoteca-btn--primary"
          type="button"
          data-modal-close
        >
          add to Watched
        </button>
        <button
          class="filmoteca-btn filmoteca-btn--secondary"
          type="button"
          data-modal-close
        >
          add to queue
        </button>
      </div>
    </div>
  </div>
</div>
