<div class="backdrop backdrop-team backdrop--hidden" data-team-modal>
    <div class="modal-team">
        <button class="button modal-close-button" type="button" data-team-modal-close>
            <svg width="24" height="24" class="modal-close-button__cross">
                <use href="./images/svg/footer-social.svg#icon-close-modal"></use>
            </svg>
        </button>
        <h1 class="modal-team__header">Our Dream Team</h1>
        <ul class="list team-members__list">
        </ul>
        <p class="modal-team__text">We can make it work!</p>
        <p class="modal-team__text-final"><a class="repo-link" href="mailto:viacheslav.work@gmail.com">Contact us</a>
            for more | <a class="repo-link" href="https://github.com/ViacheslavYUR/Filmoteka" target="_blank">Click
                here</a> to learn more about Filmoteka creation</p>
    </div>
</div>