<ul class="pagination">
  <li class="pagination__item">
    <a class="pagination__arrow" href=""
      ><img class="pagination__back" src="./images/svg/arrow.svg" alt="back"
    /></a>
  </li>
  <li class="pagination__item" id="hiddenOnMobile">
    <a class="pagination__link" href="">1</a>
  </li>
  <li class="pagination__item pagination__link--dots" id="hiddenOnMobile">
    ...
  </li>
  <li class="pagination__item"><a class="pagination__link" href="">13</a></li>
  <li class="pagination__item"><a class="pagination__link" href="">14</a></li>
  <li class="pagination__item">
    <a class="pagination__link pagination__link--middle" href="">15</a>
  </li>
  <li class="pagination__item"><a class="pagination__link" href="">16</a></li>
  <li class="pagination__item"><a class="pagination__link" href="">17</a></li>
  <li class="pagination__item pagination__link--dots" id="hiddenOnMobile">
    ...
  </li>
  <li class="pagination__item" id="hiddenOnMobile">
    <a class="pagination__link" href="">20</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__arrow" href=""
      ><img
        class="pagination__forward"
        src="./images/svg/arrow.svg"
        alt="forward"
    /></a>
  </li>
</ul>
